In [97]:
import pandas as pd
from sqlalchemy import create_engine

In [98]:
# Load the cleaned data
df = pd.read_csv('../data/cleaned_mental_health_data.csv')
df

,respondent_id,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,1,female,united states,corporate,no,no,yes,7,yes,no,yes,medium,no,no,yes,no,not sure
1,2,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,no
2,3,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,yes
3,4,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,maybe,yes
4,5,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290046,290047,male,united states,business,yes,yes,yes,22,no,maybe,no,low,yes,no,maybe,maybe,not sure
290047,290048,male,south africa,business,no,yes,yes,22,no,maybe,no,low,yes,no,maybe,no,yes
290048,290049,male,united states,business,no,yes,no,22,no,maybe,no,low,yes,no,maybe,no,no
290049,290050,male,united states,business,no,yes,yes,22,no,maybe,no,low,yes,no,maybe,no,yes
290050,290051,male,united states,business,no,yes,yes,22,no,maybe,no,low,yes,no,maybe,no,yes

In [99]:
# Add respondent_id as primary key to the base DataFrame
df['respondent_id'] = df.index + 1  # Ensuring a unique identifier for each row

# Reorder the columns to place respondent_id first
columns = ['respondent_id'] + [col for col in df.columns if col != 'respondent_id']
df = df[columns]

# Drop the Timestamp column
#df = df.drop(columns=['Timestamp'])

# Display the first few rows to verify the changes
df.head()

,respondent_id,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,1,female,united states,corporate,no,no,yes,7,yes,no,yes,medium,no,no,yes,no,not sure
1,2,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,no
2,3,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,yes
3,4,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,maybe,yes
4,5,female,united states,corporate,no,yes,yes,7,yes,no,yes,medium,no,no,yes,no,yes

In [100]:
# Save the entire cleaned base DataFrame to a CSV file
df.to_csv('../data/cleaned_mental_health_data.csv', index=False)

In [101]:
# Create the Mental Health Survey DataFrame
mental_health_survey = df[['respondent_id', 'Gender', 'self_employed', 'Country']].copy()

# Standardize text fields to lowercase
mental_health_survey['Gender'] = mental_health_survey['Gender'].str.lower()
mental_health_survey['self_employed'] = mental_health_survey['self_employed'].str.lower()
mental_health_survey['Country'] = mental_health_survey['Country'].str.lower()

# Save the Mental Health Survey DataFrame to a CSV file
mental_health_survey.to_csv('../data/mental_health_survey.csv', index=False)

# Display the first few rows to verify the transformation
mental_health_survey.head()

   respondent_id  Gender self_employed        Country
0              1  female            no  united states
1              2  female            no  united states
2              3  female            no  united states
3              4  female            no  united states
4              5  female            no  united states

In [102]:
# Create the Mental Health Conditions DataFrame
mental_health_conditions = df[['respondent_id', 'treatment', 'family_history', 'Mental_Health_History', 'Mood_Swings']].copy()

# Save the Mental Health Conditions DataFrame to a CSV file
mental_health_conditions.to_csv('../data/mental_health_conditions.csv', index=False)

# Display the first few rows to verify the transformation
mental_health_conditions.head()

   respondent_id treatment family_history Mental_Health_History Mood_Swings
0              1       yes             no                   yes      medium
1              2       yes            yes                   yes      medium
2              3       yes            yes                   yes      medium
3              4       yes            yes                   yes      medium
4              5       yes            yes                   yes      medium

In [103]:
# Create the Work-Related Factors DataFrame
work_related_factors = df[['respondent_id', 'Occupation', 'Work_Interest', 'Growing_Stress', 'Coping_Struggles']].copy()

# Save the Work-Related Factors DataFrame to a CSV file
work_related_factors.to_csv('../data/work_related_factors.csv', index=False)

# Display the first few rows to verify the transformation
work_related_factors.head()

   respondent_id Occupation Work_Interest Growing_Stress Coping_Struggles
0              1  corporate            no            yes               no
1              2  corporate            no            yes               no
2              3  corporate            no            yes               no
3              4  corporate            no            yes               no
4              5  corporate            no            yes               no

In [104]:
# Create the Gender Self-Employment Analysis DataFrame
gender_self_employment_analysis = df[['respondent_id', 'Gender', 'self_employed']].copy()

# Save the Gender Self-Employment Analysis DataFrame to a CSV file
gender_self_employment_analysis.to_csv('../data/gender_self_employment_analysis_updated.csv', index=False)

# Display the first few rows to verify the transformation
gender_self_employment_analysis.head()

   respondent_id  Gender self_employed
0              1  female            no
1              2  female            no
2              3  female            no
3              4  female            no
4              5  female            no

In [105]:
# Create the Gender-Based Analysis DataFrame
gender_based_analysis = df[['respondent_id', 'Country', 'Gender']].copy()

# Save the Gender-Based Analysis DataFrame to a CSV file
gender_based_analysis.to_csv('../data/gender_based_analysis_updated.csv', index=False)

# Display the first few rows to verify the transformation
gender_based_analysis.head()

   respondent_id        Country  Gender
0              1  united states  female
1              2  united states  female
2              3  united states  female
3              4  united states  female
4              5  united states  female

In [106]:
# Create the Country-Based Analysis DataFrame
country_based_analysis = df[['respondent_id', 'Country']].copy()

# Save the Country-Based Analysis DataFrame to a CSV file
country_based_analysis.to_csv('../data/country_based_analysis_updated.csv', index=False)

# Display the first few rows to verify the transformation
country_based_analysis.head()

   respondent_id        Country
0              1  united states
1              2  united states
2              3  united states
3              4  united states
4              5  united states

In [107]:
# Database connection setup
DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/Mental_Health_P3_db'
engine = create_engine(DATABASE_URL)

# Function to load data into PostgreSQL
def load_data_to_postgres(df, table_name):
    try:
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        print(f"Data successfully loaded into the '{table_name}' table.")
    except Exception as e:
        print(f"An error occurred while loading data into the '{table_name}' table: {e}")

# Load each CSV file into the database
file_paths = {
    'gender_self_employment_analysis': '../data/gender_self_employment_analysis_updated.csv',
    'gender_based_analysis': '../data/gender_based_analysis_updated.csv',
    'country_based_analysis': '../data/country_based_analysis_updated.csv',
    'work_related_factors': '../data/work_related_factors.csv',
    'mental_health_conditions': '../data/mental_health_conditions.csv',
    'mental_health_survey': '../data/mental_health_survey.csv',
    'cleaned_mental_health_data': '../data/cleaned_mental_health_data.csv'
}

for table_name, file_path in file_paths.items():
    df = pd.read_csv(file_path)
    load_data_to_postgres(df, table_name)

Data successfully loaded into the 'gender_self_employment_analysis' table.
Data successfully loaded into the 'gender_based_analysis' table.
Data successfully loaded into the 'country_based_analysis' table.
Data successfully loaded into the 'work_related_factors' table.
Data successfully loaded into the 'mental_health_conditions' table.
Data successfully loaded into the 'mental_health_survey' table.
Data successfully loaded into the 'cleaned_mental_health_data' table.